@import url('https://fonts.googleapis.com/css?family=Domine');

body {
  font-family: 'Domine', serif;  
 }

#content {
  width: 90%;
  margin: auto;
}

h1 {
  width: 90%;
  margin: auto;
  font-size: 200%;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
  background: black;
}